.the-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: white;
  gap: 1rem;
}

.the-end__wrapper {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.the-end__image {
  height: 80px;
}

.the-end__title {
  font-size: 2rem;
  margin: 0;
  font-family: 'SendFlowers_Regular', sans-serif;
  font-weight: bolder;
}

.the-end__message {
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  font-family: 'MeowScript_Regular', sans-serif;
}
