.greeting-card {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  position: relative;
}

.greeting-card__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.greeting-card__title {
  font-size: 2rem;
  margin: 0;
  font-family: 'SendFlowers_Regular', sans-serif;
  font-weight: bolder;
}

.greeting-card__message {
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: normal;
  text-align: center;
  font-family: 'MeowScript_Regular', sans-serif;
}

.greeting-card__image-wrapper {
  display: flex;
  justify-content: center;
}

.greeting-card__image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.greeting-card__image--dancing-cat {
  width: 80px;
  object-fit: contain;
}

.greeting-card__button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}
